#main {
	width: 220px;
	height: 300px;
	border: 1px solid black;
	/*///////////////////*/
	display: flex;
	/* Usa propiedad display con el valor fex  */
	align-items: center;
	/*Implementa la propiedad align-items con el valor center */
	/*///////////////////*/
}

#main div {
	/*Propiedad abreviada significa flex-shrink: 1;*/
	flex: 1;
}
