* {
    box-sizing: border-box;
}
.body {
    margin-right: -25px;
    padding: 20px;
    width: 100%;
}
.seccion {
    width: 100%;
    /*border: 5px solid black;*/
    height: 500px;
    margin-top: 25px;
    padding: 25px;
}
select {
    width: 250px;
}
.seccion select {
    display: block;
    margin-bottom: 10px;
}
.seccion label {
    /*margin-top: 10px;*/
}
.seccion>div {
    float: left;
    width: 45%;
    /*margin: 10px;*/
}
.display {
    /*float: right;*/
    border: 1px solid black;
    padding: 20px;
    height: 90%;
}
.controles>div {
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;
}
.controles {
    margin-right: 100px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 10px;
    /*text-align: center;*/
}
