.contenedor {
    border: 15px solid green;
    height: 25%;
    width: 75%;
    margin: 100px;
}
.caja {
    border: 5px solid black;
    height: 600px;
    width: 600px;
    margin: 20px;
    padding: 50px;
}
/*div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}*/
