.contenedor {
    width: 100%;
    height: 620px;
    /*border: 1px solid black;*/
}
.contenedor {
    margin: 0px;
    padding: 0px;
}
.pantalla, .controles {
    /*border: 5px solid blue;*/
    margin-right: 40px;
    height: 600px;
    float: left;
    /*border: 1px solid black;*/
}
.pantalla {
    width: 63%;
}
.controles {
    width: 30%;
    background-color: gray;
}
#text {
    position: absolute;
    width: 60%;
    height: 590px;
    top: 10px;
    /*left: 659px;*/
    border: 5px solid black;
    /*background-color: black;*/
    resize: both;
    overflow: auto;
}
#cuerpo {
    padding: 0px;
}
.controles div div {
    float: left;
    width: 90%;
    height: 70px;
    margin: 5px 5px;
    border: 1px solid black;
    background-color: white;
    resize: both;
    overflow: auto;
    /*  -webkit-box-shadow: 1px -8px 49px 2px rgba(66, 60, 66, 1);
    -moz-box-shadow: 1px -8px 49px 2px rgba(66, 60, 66, 1);*/
    box-shadow: 1px -8px 49px 2px rgba(66, 60, 66, 1);
}
.controles>div {
    margin-top: 100px;
    resize: both;
    overflow: auto;
}
.cuadro {
    width: 50%;
    height: 50px;
    border: 1px solid black;
    margin: 10px auto;
}
.cuadro2 {
    width: 400px;
    height: 50px;
    border: 1px solid black;
    margin: 10px auto;
}
.controles div div:nth-child(1) {
    /*-ms-transform: rotate(-20deg);*/
    /*transform: rotate(-20deg);*/
    background: red;
}
.controles div div:nth-child(2) {
    background: blue;
    /*margin-right: 0px;*/
}
.controles div div:nth-child(3) {
    /*-ms-transform: rotate(-40deg);*/
    /*transform: rotate(-40deg);*/
    /*margin-top: -50px;*/
    background: yellow;
    /*margin-right: -100px;*/
}
.controles div div:nth-child(4) {
    /*-ms-transform: rotate(40deg);*/
    /*transform: rotate(40deg);*/
    /*margin-top: -50px;*/
    /*margin-right: -200px;*/
    background: green;
}
.controles div div:nth-child(5) {
    /*-ms-transform: rotate(-50deg);*/
    /*transform: rotate(-50deg);*/
    /*margin-top: -50px;*/
    /*margin-right: -300px;*/
    background: orange;
}
/*[name="ckeck"]{
    disabled:true;
}*/
