.box {
	display: flex;
	writing-mode: horizontal-tb;
	/*writing-mode: vertical-rl;*/
	/*writing-mode: vertical-lr;*/
	/*writing-mode: sideways-rl;*/
	/*writing-mode: sideways-lr;*/
	/*
	horizontal-tb
	vertical-rl
	vertical-lr
	sideways-rl
	sideways-lr
	*/
}

/*.box div, .box1 div, .box2 div {
	border: 1px solid blue;
}*/

.x div {
	border: 1px solid blue;
}

.x {
	margin-bottom: 50px;
}

/*///////////////////////////////////*/

.box1>* {
	float: left;
}

.box1 {
	display: flex;
}

/*///////////////////////////////////*/

.box2 {
	display: flex;
	flex-wrap: wrap;
}

.box2>* {
	flex: 1 1 200px;
}

/*//////////////////////////////////////////////////////////////*/

.box3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

/*/////////////////////////////////////////////////////////////////*/

.box4 {
	display: flex;
}

.nested {
	background-color: orange;
	display: contents;
}
