.caja {
    /*background-color: gray;*/
    width: 95%;
    /*height: 250px;*/
}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: Lettersketch;
    src: url('../Lettersketch-ow1wV.ttf');
}
@font-face {
    font-family: Helveticamazing;
    src: url('../Helveticamazing.ttf');
}
@font-face {
    font-family: Sketchzone;
    src: url('../Sketchzone.otf');
}
@font-face {
    font-family: Sunset;
    src: url('../Sunset-Boulevard.otf');
}
/*@font-face {
    src: url('https://mdn.mozillademos.org/files/16044/AmstelvarAlpha-VF.ttf'css.css);
    font-family: 'AmstelvarAlpha';
    font-style: normal;
}*/

#texto {
    font-family: Lettersketch;
    border-radius: 50px;
}
h1 {
    padding: 60px 20px 20px 75px;
    width: 90%;
    height: 200px;
    font-size: 300%;
    border: 10px solid black;
    margin: 40px;
}
/*=================================================*/

.serif {
    font-family: "Times New Roman", Times, serif;
}
.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
.monospace {
    font-family: "Lucida Console", Courier, monospace;
}
/*=================================================*/

.contenedor {
    width: 100%;
    height: 500px;
    /*background-color: blue;*/
}
.contenedor>div {
    border: 1px solid black;
    height: 600px;
}
.contenedor .uno {
    width: 25%;
    float: left;
}
.contenedor .dos {
    width: 70%;
    margin-left: 20px;
    float: right;
}
.uno {
    padding: 20px;
}
#cajaoblique {
    margin-top: 25px;
}
input, select {
    width: 100%;
}
#myP {
    font: 50px 'Lettersketch', sans-serif;
}
