* {}
@font-face {
    font-family: Lettersketch;
    src: url('../font/Lettersketch-ow1wV.ttf');
}
@font-face {
    font-family: Helveticamazing;
    src: url('../font/Helveticamazing.ttf');
}
@font-face {
    font-family: Sketchzone;
    src: url('../font/Sketchzone.otf');
}
@font-face {
    font-family: Sunset;
    src: url('../font/Sunset-Boulevard.otf');
}
div {
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
}
.uno p {
    color: red;
    font-family: Lettersketch;
    font-style: oblique -50deg;
}
.dos p {
    font-size: 50px;
    font-family: Sketchzone;
    /*font-style: oblique -50deg;*/
}
.tres p {
    font-weight: 900;
    font-variant: small-caps;
}
.cuatro p {
    /*font-style: normal;*/
    /*font-style: italic;*/
    /*font-style: oblique;*/
    font-style: oblique 50deg;
}
.cinco p {
    /*color: red;*/
}
.seis p {
    /*color: red;*/
}
.x {
    font-variant: small-caps;
    /*font-variant: common-ligatures small-caps;*/
    /* Global values */
    /*font-variant: inherit;*/
    /*font-variant: initial;*/
    /*font-variant: unset;*/
    /*=====================*/
    /*font-variant: normal;*/
    /*font-variant: small-caps;*/
    /*font-variant: initial;*/
    /*font-variant: inherit;*/
}
