  * {
      box-sizing: border-box;
  }
  /*  #rgbbgcolor, #hexbgcolor, #rgbbordercolor, #hexbordercolor, #rgbtextcolor, #hextextcolor {
      width: 75%;
      height: 130px;
      border: 10px solid black;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 50px;
  }*/

  .caja>div {
      width: 75%;
      height: 130px;
      border: 10px solid black;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 50px;
      border-radius: 100px 50px 100px 50px;
  }
  .contenedor {
      margin-top: 50px;
      margin-bottom: 100px;
  }
  .caja {
      float: left;
      width: 33%;
  }
  .caja>div {
      /*padding: 50px;*/
  }
  /* .caja h1 {
      text-align: center;
      font-size: 2em;
  }*/

  .caja p {
      background-color: white;
      padding: 5px;
      margin-bottom: 10PX;
      text-align: center;
      border-radius: 100px 50px 100px 50px;
      /*color: black;*/
  }
  .rgbbotone {
      width: 100%;
      clear: left;
  }
  span {
      font-size: 1.1em;
  }
  .coloresfuncion {
      margin: 20px;
      padding: 50px 0px 50px 90px;
      border: 5px solid black;
      border-radius: 50px;
  }
  hr {
      margin-left: -90px;
      margin-bottom: 100px;
      margin-top: 100px;
  }
  input {
      margin-left: 60px;
  }
  h1 {
      text-align: center;
      margin-left: -100px;
      margin-bottom: 50px;
  }
