* {
    color: AliceBlue;
    color: #F0F8FF;
    /**/
    color: AntiqueWhite;
    color: #FAEBD7;
    /**/
    color: Aqua;
    color: #00FFFF;
    /**/
    color: Aquamarine;
    color: #7FFFD4;
    /**/
    color: Azure;
    color: #F0FFFF;
    /**/
    color: Beige;
    color: #F5F5DC;
    /**/
    color: Bisque;
    color: #FFE4C4;
    /**/
    color: Black;
    color: #000000;
    /**/
    color: BlanchedAlmond;
    color: #FFEBCD;
    /**/
    color: Blue;
    color: #0000FF;
    /**/
    color: BlueViolet;
    color: #8A2BE2;
    /**/
    color: Brown;
    color: #A52A2A;
    /**/
    color: BurlyWood;
    color: #DEB887;
    /**/
    color: CadetBlue;
    color: #5F9EA0;
    /**/
    color: Chartreuse;
    color: #7FFF00;
    /**/
    color: Chocolate;
    color: #D2691E;
    /**/
    color: Coral;
    color: #FF7F50;
    /**/
    color: CornflowerBlue;
    color: #6495ED;
    /**/
    color: Cornsilk;
    color: #FFF8DC;
    /**/
    color: Crimson;
    color: #DC143C;
    /**/
    color: Cyan;
    color: #00FFFF;
    /**/
    color: DarkBlue;
    color: #00008B;
    /**/
    color: DarkCyan;
    color: #008B8B;
    /**/
    color: DarkGoldenRod;
    color: #B8860B;
    /**/
    color: DarkGray;
    color: #A9A9A9;
    /**/
    color: DarkGrey;
    color: #A9A9A9;
    /**/
    color: DarkGreen;
    color: #006400;
    /**/
    color: DarkKhaki;
    color: #BDB76B;
    /**/
    color: DarkMagenta;
    color: #8B008B;
    /**/
    color: DarkOliveGreen;
    color: #556B2F;
    /**/
    color: DarkOrange;
    color: #FF8C00;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
}
