* {
    color: AliceBlue;
    color: #F0F8FF;
    /**/
    color: AntiqueWhite;
    color: #FAEBD7;
    /**/
    color: Aqua;
    color: #00FFFF;
    /**/
    color: Aquamarine;
    color: #7FFFD4;
    /**/
    color: Azure;
    color: #F0FFFF;
    /**/
    color: Beige;
    color: #F5F5DC;
    /**/
    color: Bisque;
    color: #FFE4C4;
    /**/
    color: Black;
    color: #000000;
    /**/
    color: BlanchedAlmond;
    color: #FFEBCD;
    /**/
    color: Blue;
    color: #0000FF;
    /**/
    color: BlueViolet;
    color: #8A2BE2;
    /**/
    color: Brown;
    color: #A52A2A;
    /**/
    color: BurlyWood;
    color: #DEB887;
    /**/
    color: CadetBlue;
    color: #5F9EA0;
    /**/
    color: Chartreuse;
    color: #7FFF00;
    /**/
    color: Chocolate;
    color: #D2691E;
    /**/
    color: Coral;
    color: #FF7F50;
    /**/
    color: CornflowerBlue;
    color: #6495ED;
    /**/
    color: Cornsilk;
    color: #FFF8DC;
    /**/
    color: Crimson;
    color: #DC143C;
    /**/
    color: Cyan;
    color: #00FFFF;
    /**/
    color: DarkBlue;
    color: #00008B;
    /**/
    color: DarkCyan;
    color: #008B8B;
    /**/
    color: DarkGoldenRod;
    color: #B8860B;
    /**/
    color: DarkGray;
    color: #A9A9A9;
    /**/
    color: DarkGrey;
    color: #A9A9A9;
    /**/
    color: DarkGreen;
    color: #006400;
    /**/
    color: DarkKhaki;
    color: #BDB76B;
    /**/
    color: DarkMagenta;
    color: #8B008B;
    /**/
    color: DarkOliveGreen;
    color: #556B2F;
    /**/
    color: DarkOrange;
    color: #FF8C00;
    /**/
    color: DarkOrchid;
    color: #9932CC;
    /**/
    color: DarkRed;
    color: #8B0000;
    /**/
    color: DarkSalmon;
    color: #E9967A;
    /**/
    color: DarkSeaGreen;
    color: #8FBC8F;
    /**/
    color: DarkSlateBlue;
    color: #483D8B;
    /**/
    color: DarkSlateGray;
    color: #2F4F4F;
    /**/
    color: DarkSlateGrey;
    color: #2F4F4F;
    /**/
    color: DarkTurquoise;
    color: #00CED1;
    /**/
    color: DarkViolet;
    color: #9400D3;
    /**/
    color: DeepPink;
    color: #FF1493;
    /**/
    color: DeepSkyBlue;
    color: #00BFFF;
    /**/
    color: DimGray;
    color: #696969;
    /**/
    color: DodgerBlue;
    color: #1E90FF;
    /**/
    color: FireBrick;
    color: #B22222;
    /**/
    color: FloralWhite;
    color: #FFFAF0;
    /**/
    color: ForestGreen;
    color: #228B22;
    /**/
    color: Fuchsia;
    color: #FF00FF;
    /**/
    color: Gainsboro;
    color: #DCDCDC;
    /**/
    color: GhostWhite;
    color: #F8F8FF;
    /**/
    color: Gold;
    color: #FFD700;
    /**/
    color: GoldenRod;
    color: #DAA520;
    /**/
    color: Gray;
    color: #808080;
    /**/
    color: Grey;
    color: #808080;
    /**/
    color: Green;
    color: #008000;
    /**/
    color: GreenYellow;
    color: #ADFF2F;
    /**/
    color: HoneyDew;
    color: #F0FFF0;
    /**/
    color: HotPink;
    color: #FF69B4;
    /**/
    color: IndianRed;
    color: #CD5C5C;
    /**/
    color: Indigo;
    color: #4B0082;
    /**/
    color: Ivory;
    color: #FFFFF0;
    /**/
    color: Khaki;
    color: #F0E68C;
    /**/
    color: Lavender;
    color: #E6E6FA;
    /**/
    color: LavenderBlush;
    color: #FFF0F5;
    /**/
    color: LawnGreen;
    color: #7CFC00;
    /**/
    color: LemonChiffon;
    color: #FFFACD;
    /**/
    color: LightBlue;
    color: #ADD8E6;
    /**/
    color: LightCoral;
    color: #F08080;
    /**/
    color: LightCyan;
    color: #E0FFFF;
    /**/
    color: LightGoldenRodYellow;
    color: #FAFAD2;
    /**/
    color: LightGray;
    color: #D3D3D3;
    /**/
    color: LightGrey;
    color: #D3D3D3;
    /**/
    color: LightGreen;
    color: #90EE90;
    /**/
    color: LightPink;
    color: #FFB6C1;
    /**/
    color: LightSalmon;
    color: #FFA07A;
    /**/
    color: LightSeaGreen;
    color: #20B2AA;
    /**/
    color: LightSkyBlue;
    color: #87CEFA;
    /**/
    color: LightSlateGray;
    color: #778899;
    /**/
    color: LightSteelBlue;
    color: #B0C4DE;
    /**/
    color: LightYellow;
    color: #FFFFE0;
    /**/
    color: Lime;
    color: #00FF00;
    /**/
    color: LimeGreen;
    color: #32CD32;
    /**/
    color: Linen;
    color: #FAF0E6;
    /**/
    color: Magenta;
    color: #FF00FF;
    /**/
    color: Maroon;
    color: #800000;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
    color: ;
    color: ;
    /**/
}
