* {
    font-size: 12px;
    box-sizing: border-box;
}
body {
    background-color: #ffc;
}
.contenedor {
    width: 98%;
    margin: 10px;
    height: 560px;
}
.controles, .pantalla {
    /*border: 1px solid black;*/
}
.controles {
    width: 35%;
    padding: 20px;
    height: 88%;
    float: right;
}
.pantalla {
    width: 63%;
    height: 100%;
    float: left;
    border: 20px solid black;
    padding: 40px;
    border-radius: 100px 100px 100px 100px;
    background-color: green;
}
.elemento {
    /*box-sizing: content-box;*/
}
select {
    width: 100%;
    height: 30px;
}
#texto {
    white-space: pre-wrap;
    color: white !important;
    /*margin: 20px 0px;*/
}
.elemento p {
    color: white !important;
    margin: 20px 0px;
    font-size: 20px;
}
textarea {
    width: 100%;
    /*-moz-appearance: textarea;*/
    /*appearance: none;*/
    /*-webkit-transform: none;*/
    /*margin-block-start: 1px;*/
    /*margin-block-end: 1px;*/
    border: 1px solid black;
    /*padding-inline-start: 1px;*/
    /*padding-inline-end: 1px;*/
    /*background-color: -moz-Field;*/
    /*color: -moz-FieldText;*/
    /*font: medium -moz-fixed;*/
    /*font-size: medium;*/
    /*line-height: normal;*/
    /*font-family: monospace;*/
    /*text-rendering: optimizeLegibility;*/
    /*vertical-align: text-bottom;*/
    /*cursor: text;*/
    resize: none;
    /*white-space: pre-wrap;*/
    /*word-wrap: break-word;*/
    /*overflow-clip-box: unset;*/
    /*margin-bottom: 20px;*/
    padding: 10px;
    font-size: 15px;
    height: 150px;
}
.cajaControl {
    background-color: #C4B6B6;
    margin-top: 20px;
    padding: 20px;
    height: 290px;
}
#direction {
    width: 50%;
}
/*#areaTexto {}*/

.decoradoControl>div {
    margin-top: 10px;
    margin-left: 50px;
}
[type="number"] {
    width: 40%;
}
[type="color"] {
    width: 100%;
}
input, select {
    height: 30px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: white;
    padding-left: 5px;
}
.line-height [type="radio"] {
    margin-left: 40px;
    /*display: block;*/
}
.valoresNumeroSombra input {
    width: 30%;
    /*margin-left: 5px;*/
    text-align: center;
    margin: 5px 2px;
    padding-left: 0px;
}
#spacialAling span {
    color: black;
    background-color: yellow;
    font-size: 20px;
}
