.fixed-bg {
    background-image: url("../../../../img/linux.png");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.relleno {
    height: 200px;
}
.left {
    width: 25%;
    float: left;
}
.right {
    width: 25%;
    float: right;
}
