div {
    border: 5px solid green;
}
/*p {
    text-align: center;
    color: red;
}*/

/*p#parr {
    color: orange;
}*/

/*.center {
    color: red;
}*/

/*p.center {
    text-align: center;
    color: red;
}*/

/*div p {
    text-align: center;
    color: blue;
}*/

/** {
    text-align: center;
    color: blue;
}*/

input[name=hola] {
    background: blue;
}
